import Cart from '../views/Cart.vue'
import Checkout from '../views/Checkout.vue'

{
  path: '/cart',
  component: Cart,
  meta: { requiresAuth: true }
},
{
  path: '/checkout',
  component: Checkout,
  meta: { requiresAuth: true }
}
