:root {
--orange-main: #fd7e14;
}


.bg-orange { background-color: var(--orange-main); }
.text-orange { color: var(--orange-main); }


.btn-orange {
background-color: var(--orange-main);
color: #fff;
}
.btn-orange:hover { background-color: #e96b0c; }